﻿.active {
    background-color: #4CAF50;
}

.container {
    width: 900px;
}

#form, #buttons {
    margin: 20px 20px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}